.contact {
    text-align: center;
    padding: 2rem;
    margin: 5%;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.contact__title {
    font-size: 2rem;
    color: #37BDF8;
    margin-bottom: 1.5rem;
}

.contact__description {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.contact__info p {
    font-size: 1rem;
    margin-bottom: 0.8rem;
}

.contact__info a {
    color: #37BDF8;
    text-decoration: none;
}

.contact__info a:hover {
    text-decoration: underline;
    font-weight: bold;

}

.contact__info a:active {
    color: #37BDF8;
}

.contact__info a:focus {
    outline: 1px solid #37BDF8;  
    box-shadow: 0 0 5px 2px #37bef8d1;
}

@media (max-width: 420px) {
    .contact__info a {
        word-wrap: break-word;
        max-width: 100%;
    }
}
