.section {
    padding: 2rem;
    margin: 5%;
    border-radius: 8px;
    background-color: #f9f9f9;
    scroll-margin-top: 70px;
}

.section:hover {
    box-shadow: 0 0 5px 2px #37bef8d1;
    transition: all 0.3s ease;
}

.section:active {
    transform: scale(0.98);
}

.section__title {
  text-align: center;
  font-size: 2rem;
  color: #37BDF8;
  margin-bottom: 2rem;
}